*.suo
InwardClearingSystem/InwardClearingSystem.suo
*.dll
*.mdf
InwardClearingSystem/InwardClearingSystem/App_Data/icsdb_log.LDF
*.mdf
*.pdb
*.cache
*.suo
*.suo
*.dll
*.cache
*.suo
*.dll
InwardClearingSystem/InwardClearingSystem/bin/InwardClearingSystem.pdb
InwardClearingSystem/InwardClearingSystem/App_Data/icsdb.mdf
*.suo
*.pdb
*.dll
*.cache
*.dll
*.mdf
*.LDF